.App {
  text-align: center;
}

label {
  color: #999;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.05em
}

input {
  max-width: 300px;
  border: 2px solid #ccc;
  border-radius: 7px;
  line-height: 2.5;
}

input:focus {
  outline: 0;
}

.numeric {
  font-size: 30px;
  padding: 0 10px 0 20px;
  color: #999;
  background: white;
}

.center {
  justify-content: space-around;
  display: flex;
}

.results {
  display: flex;
}

.results > div {
  width: 70rem;
}

.panel {
  display: flex;
  align-items: baseline;
}

.vertical-panel {
  display: flex;
  flex-direction: column;
}



